$BG_menu: url(../assets/Desktop_Backgrounds_1920x1200_6_3.png);
$IMG_logo1: url(../assets/Logo1.png);
$IMG_logo2: url(../assets/Logo2.png);
$BG_body: url(../assets/IMG_1334_72dpi_RGB_1.png);
$BG_rectangle: url(../assets/Rectangle_6.png);
$IMG_anim: url(../assets/Union.png);
