@import "variables";
@import "mobile";
@import "references";

@media screen and (max-width: 768px) {
    @include media_768;
}

.headerBackground{
    @include bg_properties;
    width: 100%;
    height: 100%;
    display: flex;
    bottom: 100px;
    left: 0px;
    right: 0px;
    justify-content: center;
    align-items: center;
    background: $BG_menu;
}

.rectangle{
    @include bg_properties;
    top: 625px;
    width: 100%;
    height: 100%;
    left: 0%;
    margin-left: 0%;
    justify-content: center;
    text-align: center;
    padding: 0px;
    background: $BG_rectangle;
}

.bodyBackground{
    @include bg_properties;
    width: 100%;
    height: 100%;
    left: 0%;
    text-align: center;
    top: 1370px;
    align-items: center;
    justify-content: center;
    background: $BG_body;
}

.Header{
    width: auto;
    height: 0%;
    top: 30%;

    font-family: $letter-Header;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */

    text-align: center;

    color: #FFFFFF;
}

.subHeader{

    position: absolute;
    width: 426px;
    height: 56px;
    top: 65%;

    font-family: $letter-text;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: rgba(255, 255, 255, 0.7);

}

.subHeaderTitle{
    font-family: $letter-Header;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */

    text-align: center;

    color: #464547;

}

.subHeaderText{
    font-family: $letter-text;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: #666666;
}

.bodyText{
    font-family: $letter-text;
    font-style: normal;
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    width: 983px;
    margin: 0 auto;

    color: #000000;
}

.subBodyText{
    font-family: $letter-text;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: #FFFFFF;
}

.footerText{
    font-family: $letter-text;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    text-align: left;
    justify-content: left;
    margin-left: 100px;

    color: rgba(255, 255, 255, 0.4);
}

.footerTitle{
    font-family: $letter-text;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 89% */
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-left: 100px;
    
    color: #FFFFFF;
}